*{
  margin:0 0;
  box-sizing: border-box;
}

:root{
  --bg1: rgb(226, 226, 229);
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  /* justify-content: center; */
  margin: 0;
  /* padding: .3em; */
}

div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 1em;
  font-family: Arial, sans-serif;
}
img{
  width:2em;
}

#titleBar{
  display: flex;
  flex-direction: row;
  gap: 2em;
}
input {
  width: 30%;
  padding: .3em;
}
label {
  padding: .3em;
}
p {
  padding: .3em;
}
#inputs {
  background-color: rgb(190, 210, 249);
}

#buttons {
  display: flex;
  flex-direction: row;
  gap: 2em;
  background-color: rgb(190, 210, 249);
}

h3{
  padding:0;
  margin:0;
}

#displayResults{
  background-color: var(--bg1);
  max-height: 5%;
}

#analysisText{
  /* padding: 0; */
  background-color: var(--bg1);
}
#displayAnalysis{
  padding:0;
}

#displayResultsText
{
  overflow: none;
  max-height: 4em;
  white-space: nowrap;
}

#analysisFlex{
  display: flex;
  flex-direction: row;
  background-color: var(--bg1);
  font-size: 2rem;
  justify-content: space-between;
}
/* display: flex;
  
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  text-align: center; */

/* h1 {
  text-align: center;
  color: #333;
}
h2 {
  text-align: center;
}

#buttons,
#inputs {
  background-color: ;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 130px;
}

button:hover {
  background-color: #0056b3;
}

input[type='number'] {
  margin-left: 10px;
  padding: 5px;
}

#OR {
  margin: 0 10px;
  font-size: 1.4rem;
  font-weight: bolder;
  color: #333;
}

input[disabled] {
  background-color: gray;
  cursor: not-allowed;
}



#displayResultsText {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 1 rem;
  white-space: nowrap;
}

#displayAnalysis {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#analysis {
  background-color: #ac2121;
  margin: 0;
  padding: 20px;
  font-size: 1.5rem;
  white-space: pre;
}
#dice {
  font-size: 3rem;
  color: #333;
}

#results {
  font-size: 1.5rem;
  border: 1px solid #333;
}
table {
  border-collapse: collapse;
  border: #333 solid 1px;
  width: 10%;
}
th,
td {
  border: 1px solid #333;
  padding: 8px;
  text-align: center;
}

#myChart {
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: block;
}

#analysisText {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

#analysisFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 0;
  margin: 0;
}

#analysisTable {
  flex: 1 1 auto;
  margin: 0 20px 40px 0;
  padding: 0;
}

#chartContainer {
  width : 100%;
  min-width: 200px;
  max-width: 800px;
} */
